* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wraper {
  max-width: 1366px;
  display: grid;
  min-width: 100%;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
  padding: 20px;
  display: grid;
  align-items: center;
  background-color: #e9e9e9;
}

.header_body {
  grid-column: 3/4;
}

.header_meny {
  justify-items: end;
  display: grid;
  grid-auto-flow: column;
  color: #191919;
}

.header_slovo {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.header_slovo:active {
  content: "";
  color: #17b8b5;
}

.main {
  display: grid;
  padding: 30px 15px;
  grid-area: main;
}

.content {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.banner {
  display: flex;
  margin-bottom: 60px;
}

.banner_row {
  margin: 5% 4% 0% 58%;
}

.banner_slovo {
  font-size: 38px;
  padding-bottom: 20px;
}

.banner_text {
  font-size: 18px;
  margin: 0px 0px 20px 0px;
  line-height: 28px;
}

.banner_knopka {
  background-color: #000e0d;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  line-height: 40px;
  justify-self: start;
  color: white;
  letter-spacing: 5px;
}
.banner_knopka:active {
  content: "";
  background-color: #17b8b5;
}

.about {
  text-align: center;
  margin: 0px 300px 0px 300px;
}

.about_slovo {
  font-size: 30px;
  margin-bottom: 10px;
}

.about_text {
  line-height: 20px;
}

.skills {
  margin-top: 100px;
}

.skills_title {
  font-size: 30px;
  margin-bottom: 20px;
}

.skills_lorem {
  margin-bottom: 30px;
}

.skills_text {
  margin-bottom: 15px;
}

.numbers {
  background-color: #10c9c3;
  margin-top: 20px;
}

.numbers_row {
  display: flex;
  justify-content: space-around;
  height: 240px;
}

.numbers_rows {
  display: flex;
  align-items: center;
}

.numbers_img {
  margin-right: 30px;
}

.numbers_lorem {
  color: white;
}

.numbers_tsifra {
  margin-bottom: 15px;
}

.work_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.work_kvadrat-1 {
  background-color: #838383;
  height: 280px;
}

.work_kvadrat-3 {
  background-color: #838383;
  height: 280px;
}

.work_kvadrat-6 {
  background-color: #838383;
  height: 280px;
}

.work_da {
  display: flex;
  justify-content: center;
}

.work_kvadrat-6:hover:nth-child(6) {
  content: "";
  background-color: #252525;
}

.work_kvadrat-8 {
  background-color: #838383;
  height: 280px;
}

.work-end {
  text-align: center;
  margin-top: 25px;
  font-size: 12px;
  text-transform: capitalize;
  color: #8e8e8e;
}

.services {
  margin-top: 30px;
}

.services_row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.services_block {
  margin: 20px;
  display: grid;
}

.services_img {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.services_word {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.services_sentence {
  text-align: center;
  color: #bbbbbb;
}

@media (max-width: 992px) {
  .header_menu {
    display: grid;
    justify-items: end;
  }

  .header_slovo {
    display: none;
  }

  .header_burger {
    width: 30px;
    display: grid;
    align-items: center;
    grid-template: repeat(3, 8px)/1fr;
  }
  .header_burger::before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #fff;
  }
  .header_burger::after {
    content: "";
    height: 2px;
    width: 30px;
    background-color: #fff;
  }
}
@media (max-width: 1200px) {
  .content {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .content {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .content {
    max-width: none;
  }
}
.footer {
  display: grid;
  grid-area: "footer";
  background-color: #314f6f;
  color: #e9e9e9;
}

.footer_block {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  grid-template-rows: 2fr;
  padding: 30px 15px;
}

.footer_piroll {
  margin-bottom: 10px;
  font-weight: 700;
}

.two_com {
  margin-bottom: 10px;
}

.footer_three {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.three_menu {
  justify-items: center;
  margin: 0px 20px;
}

.three_menu a {
  display: block;
  line-height: 20px;
  color: #e9e9e9;
}

.three_menushka a {
  display: block;
  line-height: 20px;
  color: #e9e9e9;
}

.seti_menu a {
  display: block;
  color: #e9e9e9;
  line-height: 20px;
}

@media (max-width: 750px) {
  .footer_block {
    grid-template: 1fr 1fr/1fr;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
