@import"null.style.scss";

.wraper{
    max-width: 1366px;
    display: grid;
    min-width: 100%;
    flex-direction: column;
    grid-template-areas:
        "header"
        "main"
        "footer";
  }
.header{
    grid-area: header;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #e9e9e9;
    justify-content: space-between;
    padding: 0px 100px;
}


.header_meny{
    display: flex;
    align-items: center;
}
.header_word{
    margin: 10px;
    font-weight: 600;
    font-size: 12px;
  text-transform: uppercase;
    &:hover {
     content:""; 
      color:rgb(23, 184, 181);
}
}

// main
.main{
    padding: 30px 15px;
    grid-area: main;
}
 .content{
     max-width: 1200px;
     margin: 0px auto;
     padding: 0px 15px;
 }  
.banner{
    display:flex;
    margin-bottom: 60px;
} 
.banner_row{
    margin: 5% 4% 0% 58%;
}
.banner_word{
    font-size: 38px;
    padding-bottom: 20px;
    font-weight: 600;    
}
.banner_text{
    font-size: 18px;
    margin:0px 0px 20px 0px;
    line-height: 28px;
}
.banner_button{
    background-color:rgb(0, 14, 13) ;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    padding:10px;
    line-height: 40px;
    justify-self: start;
    color:white;
    letter-spacing: 5px;
    &:active{
        content:"";
        background-color:rgb(23, 184, 181);
        
    }
}
.about{
   text-align: center;
   margin: 0px 300px 0px 300px;
}
.about_word{
    font-size: 30px;
    margin-bottom: 10px;
}
.about_text{
    line-height: 20px;
}

.skills{
    margin-top: 100px;
}
.skills_title{
    font-size: 30px; 
    margin-bottom: 20px;   
}

.skills_sabtitle{
    margin-bottom: 30px;
    text-transform: uppercase;
}
.skills_text{
    margin-bottom: 15px;
}
.skills_line1{
    height: 2px;
    width: 500px;
    border: none;
    border-bottom: 3px solid #e6dddd;
    &:after {
        content: "";
        position: absolute;
        border-bottom: 3px solid #10c9c3;
        padding: 0px 0px 0px 375px;
}
}
.skills_line2{
    height: 2px;
    width: 500px;
    border: none;
    border-bottom: 3px solid #e6dddd;
    &:after {
        content: "";
        position: absolute;
        border-bottom: 3px solid #10c9c3;
        padding: 0px 0px 0px 450px;
}
}
.skills_line3{
    height: 2px;
    width: 500px;
    border: none;
    border-bottom: 3px solid #e6dddd;
    &:after {
        content: "";
        position: absolute;
        border-bottom: 3px solid #10c9c3;
        padding: 0px 0px 0px 325px;
}
}
.numbers{
    background-color:#10c9c3;
    margin-top: 20px;

}
.numbers_block{
    display: flex;
    justify-content: space-around;
    height: 240px;
    
}
.numbers_rows{
    display: flex;
    align-items: center;
}
.numbers_img{
    margin-right: 30px;
}
.numbers_row{
    color:white;
}
.numbers_numeral{
    margin-bottom: 15px;
}

.work_block{
    display: flex;
    flex-wrap: wrap;
}
.work_element_1{
    flex-basis: 25%;
    background-color: #0a0105;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background:#e6dddd;
    }
}
.work_element_2{
    flex-basis: 25%;
    background-color: #f0eaea;
    display: flex;
    height: 200px;
}
.work-line{
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    text-transform: capitalize;
    color:#8e8e8e;

}
.services{
    margin-top:30px;
}
.services_row{
    display: flex;
    flex-wrap: wrap;
}
.services_block{
    margin: 10px 0px 10px 0px;
    padding: 0px 30px 0px 30px;
    flex: 0 1 25%;
    
}
.services_img{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.services_word{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.services_sentence{
    text-align: center;
    color:#bbbbbb;
}


@media (max-width:992px){
    .header_menu{
        display: flex;
        justify-items: end;
    }
    .header_word{
        display: none;
    }
    .header_burger{
        width: 30px;
        display: grid;
        align-items: center;
        &::before{
            content:"";
            height: 2px;
            width: 30px;
            background-color: #fff;
        } 
        &::after{
            content:"";
            height: 2px;
            width: 30px;
            background-color: #fff;
        }
    }
}

@media (max-width:1200px){
    .content{
        max-width: 970px;
    }
}
@media (max-width:992px){
    .content{
        max-width: 750px;
    }
}
@media (max-width:767px){
    .content{
        max-width: none;
    }
}
// Подвал
.footer{
    grid-area: "footer";
    background-color: #314f6f;
    color: #e9e9e9;
}

.footer_block{
    display: flex;
    padding: 30px 15px;
    justify-content: space-around;
 }
 .footer_block a{
     color:#e9e9e9;
 }
 .footer_block a:hover{
     content:"";
     color:rgb(23, 184, 181);
 }

.com{
    margin-bottom: 15px;;
}
.row_three {
    display: flex;
    line-height: 20px; 
}
.row_three a{
    margin:0px 15px;
}
.column_one{
    line-height: 20px;}
.row_four a{
    display:block ;
    color:#e9e9e9;
    line-height: 20px;
}




